<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Главное меню | Where2Play</title>
  <link rel="stylesheet" href="/css/menu.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>

<header class="main-header">
  <!-- Ссылка на профиль -->
  <a href="/profile" class="user-profile" title="Перейти в профиль">
    <div class="avatar-circle">
      <i class="fa-regular fa-user"></i>
    </div>
    <div class="user-info">
      <!-- Выводим имя пользователя -->
      <span class="user-name" th:text="${username} ?: 'Гость'">Иван Иванов</span>
    </div>
  </a>

  <form th:action="@{/logout}" method="post" class="logout-form">
    <button type="submit" class="btn-logout">
      <i class="fa-solid fa-arrow-right-from-bracket"></i> Выход
    </button>
  </form>
</header>

<div class="menu-container">
  <h1 class="menu-title">Главное меню</h1>

  <div class="menu-buttons">
    <!-- Создать мероприятие -->
    <a th:href="@{/create}" class="menu-card card-create">
      <div class="icon-circle">
        <i class="fa-solid fa-plus"></i>
      </div>
      <span class="card-text">Создать мероприятие</span>
    </a>

    <!-- Записаться на мероприятие -->
    <a th:href="@{/events}" class="menu-card card-join">
      <div class="icon-circle">
        <i class="fa-solid fa-list-ul"></i>
      </div>
      <span class="card-text">Записаться на мероприятие</span>
    </a>

    <!-- Календарь -->
    <a href="#" class="menu-card card-calendar">
      <div class="icon-circle">
        <i class="fa-regular fa-calendar"></i>
      </div>
      <span class="card-text">Календарь мероприятий</span>
    </a>
  </div>
</div>

</body>
</html>
